<div class="col-sm-12" style="margin-top:6%;" ng-show="!isLoggedIn">
	<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.2);border-color:#DC4405;margin-bottom:0%;"></div>
	<h3 class=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Comment / Rating </h3>
	<div class="col-sm-12">
		<h4>Please Login or Register to add comments and ratings</h4>
	</div>
</div>



<div class="col-sm-12" style="margin-top:6%;" ng-show="isLoggedIn">
	<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.2);border-color:#DC4405;margin-bottom:0%;"></div>
	<h3 class=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Comment / Rating </h3>
	<div class="col-sm-12">
		<div class="col-sm-3" style="margin-top:3%;margin-right:5%;">
			<div class="list-group">
				<div class="list-group-item list-group-item-info" style="background-color:#373737;color:#fff;">Select a Bathroom ID:</div>
			 	<a href="" class="list-group-item" ng-repeat="x in dropdowndata" ng-click="getID(x[0])" ng-style="x[0] === bathroomID ? {'background-color':'#DC4405','color':'#fff'}:{'background-color':'','color':''}">{{x[0]}}</a>
			</div>
		</div>
		<div class="col-sm-6" style="margin-top:0%;">
			<div class="text-center" style="margin-top:10%;margin-right:6%;">
					<jk-rating-stars rating="starrating"></jk-rating-stars>
					<div>{{starrating}} Stars</div>
			</div>
			<div style="margin-top:0%padding:0px;margin-bottom:8%;">
				<span><form id="commentform">
					<div class="form-group">
						<label for="comment"><h3><i class="fa fa-comments-o" aria-hidden="true"></i>  Comment: <span><div class="text-center" style="margin-top:15px;"><div class="label label-danger" style="font-size:16px;">{{errormessage}}</div></div></span></h3></label>
						<textarea class="form-control" rows="5" id="commentform" placeholder="write your comment" required ng-model='comment'></textarea>
					</div>
					<button type="submit" class="btn btn-primary text-center" style="width:100%;" ng-click="submitComment(comment,starrating)">Submit Comment</button>
				</form></span>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>