
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
		
	</ul>
	 <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
		    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user-o" aria-hidden="true"></i> Login</a>
		    <ul class="dropdown-menu">

		    	<h2 class="text-center">Sign In</h2>
				<form class="navbar-form navbar-right" role="signin" style="margin: 50px;">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" ng-model="input.username">	
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="password" placeholder="Password" ng-model="input.password">
					</div>
					<button type="submit" class="btn btn-default" ng-click="loginUser(input)">Sign In</button>
				</form>
				<div style = "font-size:11px; color:#cc0000; margin-top:10px">{{errormessage}}</div>
		    </ul>
		</li>
		<li class="dropdown">
		    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> Register</a>
		    <ul class="dropdown-menu">
		        
		        <h2 class="text-center">Register</h2>
		        <form class="navbar-form navbar-right" role="signin" style="margin: 50px;">
					<div class="form-group">
						<input type="text" class="form-control" name="" placeholder="">	
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="" placeholder="">
					</div>
					<button type="submit" class="btn btn-default">Register</button>
				</form>
				<div style = "font-size:11px; color:#cc0000; margin-top:10px">{{errormessage}}</div>
		    </ul>
		</li>
		
	</ul>
</div>
			