
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
		
	</ul>
	 <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
		    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user-o" aria-hidden="true"></i> Login</a>
		    <ul class="dropdown-menu">

		    	<h2 class="text-center"><i class="fa fa-sign-in" aria-hidden="true" style="margin-top:2%;"></i> Sign In</h2>
				<form class="navbar-form navbar-right" role="signin" style="margin:10px 80px 80px 80px;">
					<div class="form-group" style="margin-bottom:2%;">
						<span><h4>Username:</h4></span><input type="text" class="form-control col-sm-3" id="signinusername" name="username" placeholder="enter your username" required ng-model="input.username">	
					</div>
					<div class="form-group">
						<h4>Password:</h4><input type="text" class="form-control col-sm-3" id="signinpassword" name="password" placeholder="enter your password" required ng-model="input.password">
					</div>
					<button type="submit" class="btn btn-primary" ng-click="loginUser(input)" style="width:100%;margin-top:5%;">Sign In</button>
				</form>
				<div class="text-center" style="font-size:18px;color:#373737;"> {{loginmessage}}</div>
		    </ul>
		</li>





		<li class="dropdown">
		    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-plus-circle" aria-hidden="true"></i> Register</a>
		    <ul class="dropdown-menu">
		        
		       <h2 class="text-center"><i class="fa fa-user-plus" aria-hidden="true" style="margin-top:2%;"></i> Register</h2>
				<form class="navbar-form navbar-right" role="register" style="margin:10px 80px 80px 80px;">
					<div class="form-group" style="margin-bottom:2%;">
						<h4>Username:</h4><input type="text" class="form-control col-sm-3" id="regusername" name="username" placeholder="choose a username" required ng-model="data.username">	
					</div>
					<div class="form-group">
						<h4>Password:</h4><input type="text" class="form-control col-sm-3" id="regpassword" name="password" placeholder="enter a password" required ng-model="data.password">
					</div>
					<div class="form-group" style="margin-bottom:2%;">
						<h4>Email Address:</h4><input type="text" class="form-control col-sm-3" id="regemail" name="email" placeholder="enter your email" required ng-model="data.email">	
					</div>
					<div class="form-group">
						<h4>First Name:</h4><input type="text" class="form-control col-sm-3" id="regfirstname" name="firstname" placeholder="enter your first name" required ng-model="data.firstname">
					</div>
					<div class="form-group">
						<h4>Last Name:</h4><input type="text" class="form-control col-sm-3" id="reglastname" name="lastname" placeholder="enter your last name" required ng-model="data.lastname">
					</div>
					<button type="submit" class="btn btn-primary" ng-click="registerUser(data)" style="width:100%;margin-top:5%;">Register</button>
				</form>
				<div class="text-center" style="font-size:18px;color:#373737;"> {{registermessage}}</div>
		    </ul>
		</li>
		
	</ul>
</div>
			