
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
		
	</ul>
	 <ul class="nav navbar-nav navbar-right">
	 	<li>
	 		<a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="logoutUser()" style=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Signout&nbsp;</a>
	 	</li>
		<!-- <li class="dropdown">
		    <a href="" data-toggle="dropdown" class="dropdown-toggle" style="">Signout &nbsp;<i class="fa fa-lock" aria-hidden="true"></i>&nbsp;</a>
		    <ul class="dropdown-menu">

		    	<h2 class="text-center">Sign Out</h2>
				<form class="navbar-form navbar-right" role="signin" style="margin:50px;">
					<button type="submit" class="btn btn-default" ng-click="logoutUser()">Yes</button>
				</form>
				<div style = "font-size:11px; color:#cc0000; margin-top:10px">{{errormessage}}</div>
		    </ul>
		</li> -->
	</ul>
</div>
			