
<div style="margin-top:0px;">

	<div class="no-float" style="">
		<a id="openbutton" data-toggle="collapse" data-target="#collapseside" ng-click="openButton()" style="position:absolute;margin-left:77%;">
			<i class="fa fa-minus-square-o fa-2x" aria-hidden="true"></i>
		</a>
	</div>


	<ul class="nav nav-pills nav-stacked" style="margin-top:15%;">
	  	<li><a href="#!/" style="font-size:16px;background-color:#FFFFFF;color:#373737;" id="homepage" ng-click='highlight_home()'>
	  		<i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</a>
	  	</li>

		<li><a href="#!/buildings" style="font-size:16px;" id=buildingpage ng-click='highlight_building()'>
			<i class="fa fa-building-o" aria-hidden="true"></i>&nbsp; Buildings</a>
		</li>

		<li><a href="#!/bathrooms" style="font-size:16px;" id="bathroompage" ng-click='highlight_bathroom()'>
			<i class="fa fa-bath" aria-hidden="true"></i>&nbsp; Bathrooms</a>
		</li>

		<li><a href="#!/profile" style="font-size:16px;" id="profilepage" ng-click='highlight_profile()'>
	  		<i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Profile</a>
	  	</li>
	</ul>

</div>