{{highlight_bathroom()}}

<h2 style="margin-top:;" ng-show="!bathroomsVisible">&nbsp;&nbsp;Bathrooms:</h2>
<h2 style="margin-top:;text-align:center;" ng-show="bathroomsVisible">{{buildingtext}}</h2>
<!-- <div class="col-sm-3" style="border:1px solid rgba(0,0,0,.5);margin-bottom:;"></div> -->



<div class="container" ng-show="!bathroomsVisible">
	<div class="row" style="">
		<div class="col-sm-12" style="margin-top:5%;">
		<h3>Please select a Building</h3>
		</div>
	</div>
</div>



<linq-bathroom ng-show="bathroomsVisible"></linq-bathroom>