{{highlight_bathroom()}}

<h2 style="margin-top:;" ng-show="!bathroomsVisible">&nbsp;&nbsp;Bathrooms:</h2>
<h2 style="margin-top:;text-align:center;" ng-show="bathroomsVisible">{{buildingtext}}</h2>


<div class="container" ng-show="!bathroomsVisible">
	<div class="row" style="">
		<div class="col-sm-12" style="margin-top:5%;">
		<h3>Please select a Building</h3>
		</div>
	</div>
</div>



<linq-bathroom ng-show="linqVisible"></linq-bathroom>
<library-bathroom ng-show="libraryVisible"></library-bathroom>
<austin-bathroom ng-show="austinVisible"></austin-bathroom>
<kelley-bathroom ng-show="kelleyVisible"></kelley-bathroom>
<mu-bathroom ng-show="muVisible"></mu-bathroom>
<johnson-bathroom ng-show="johnsonVisible"></johnson-bathroom>
<linus-bathroom ng-show="linusVisible"></linus-bathroom>
<into-bathroom ng-show="intoVisible"></into-bathroom>