{{highlight_profile()}}

<h2 style="margin-top:;">&nbsp;&nbsp;Profile:</h2>


<div class="container">

	<div class="row" ng-show="!profileVisible" >
		<div class="col-sm-12" style="margin-top:5%;">
			<h3>Please Login or Register</h3>
		</div>
	</div>


	<div class="row text-center" ng-show="profileVisible" >
		<div class="col-sm-12"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true" style=""></i></div>
		<div class="col-sm-12"><h5 style="margin-top:1%;">Username: &nbsp;&nbsp;{{userdetailsdata[0].Username}}</h5></div>
		<div class="col-sm-12"><h5>Email: &nbsp;&nbsp;{{userdetailsdata[0].EmailAddress}}</h5></div>
		<div class="col-sm-12"><h5>Real name: &nbsp;&nbsp;{{userdetailsdata[0].FirstName}} {{userdetailsdata[0].LastName}}</h5></div>
		<div class="col-sm-12"><h5>Signup Date: &nbsp;&nbsp;{{userdetailsdata[0].SignUpDate}}</h5></div>
	</div>

	<div class="row" ng-show="profileVisible">
		<h3><i class="fa fa-comments-o" aria-hidden="true"></i> Comments:</h3>
		<div class="col-sm-3" style="border:1px solid rgba(0,0,0,.5);margin-bottom:1%;"></div>

		<div class="col-sm-12" style="margin-top:1%;" ng-show="!hasComments">
			<h3>You have not yet made any comments</h3>
		</div>
		
		<div class="col-sm-12" style="margin-top:1%;" ng-repeat="x in usercommentdata" ng-show="hasComments">
			

			<!--  -->
			<div class="col-sm-12" >
					
				<div class="col-sm-11">
					<div class="panel panel-default" style="box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;">
						<div class="panel-heading">
				   			 <div class="panel-title">
					   			<h4 style="position:absolute;padding:0px;margin:0px;">{{x.BuildingName}}</h4>
					   			<h5 style="position:absolute;padding:0px;margin-left:20%;">BathroomID:</h5>
					   			<h5 style="position:absolute;padding:0px;margin-left:27%;color:#DC4405;">{{x.BathroomID}}</h5>

				   			 	<div style="position:absolute;padding:0px;font-style:italic;font-size:14px;margin-left:45%;margin-top:5px;">{{x.DateMade}}</div>
				   			 	<div style="padding:0px;margin-left:85%;"><jk-rating-stars rating=x.Rating read-only=true style="font-size:4px;"></jk-rating-stars></div>
				   			 </div>
				  		</div>
						<div class="panel-body" style="font-size:16px;">
							<div style="margin-top:;margin-left:;">&nbsp;{{x.Comment}}</div>
						</div>
					</div>
				</div>


				<div class="col-sm-1">
					<label class="btn btn-warning" data-toggle="modal" data-target="#myModal" style="width:80px;margin-top:12px;" ng-click="setModalData(x.Comment,x.BathroomID)">Edit</label>
					<label class="btn btn-danger" ng-click="deleteComment(x.BathroomID,x.Username)" style="width:80px;margin-top:5px;">Delete</label>
				</div>

			</div>
			<!--  -->
		

		</div>
	</div>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" rows="5" id="modalcomment" ng-model="newComment"></textarea>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
				<label class="btn btn-primary" ng-click="updateComment(modalBathroomid,currentuser,newComment)" data-dismiss="modal">Save and Exit</label>
			</div>
		</div>
	</div>
</div>
