{{highlight_profile()}}

<h2 style="margin-top:;">&nbsp;&nbsp;Profile:</h2>


<div class="container">

	<div class="row" ng-show="!profileVisible" >
		<div class="col-sm-12" style="margin-top:5%;">
			<h3>Please Login or Register</h3>
		</div>
	</div>


	<div class="row text-center" ng-show="profileVisible" >
		<div class="col-sm-12"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true" style=""></i></div>
		<div class="col-sm-12"><h5 style="margin-top:1%;">Username: &nbsp;&nbsp;{{userdetailsdata[0].Username}}</h5></div>
		<div class="col-sm-12"><h5>Email: &nbsp;&nbsp;{{userdetailsdata[0].EmailAddress}}</h5></div>
		<div class="col-sm-12"><h5>Real name: &nbsp;&nbsp;{{userdetailsdata[0].FirstName}} {{userdetailsdata[0].LastName}}</h5></div>
		<div class="col-sm-12"><h5>Signup Date: &nbsp;&nbsp;{{userdetailsdata[0].SignUpDate}}</h5></div>
	</div>

	<div class="row" ng-show="profileVisible">
		<h3><i class="fa fa-comments-o" aria-hidden="true"></i> Comments:</h3>
		<div class="col-sm-3" style="border:1px solid rgba(0,0,0,.5);margin-bottom:1%;"></div>

		<div class="col-sm-12" style="margin-top:1%;" ng-show="!hasComments">
			<h3>You have not yet made any comments</h3>
		</div>
		
		<div class="col-sm-12" style="margin-top:1%;" ng-repeat="x in usercommentdata" ng-show="hasComments">
			<h4>{{x.BuildingName}}</h4>
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>DateMade</th>
						<th>Floor</th>
						<th>Bathroom Description</th>
						<th>Rating</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-md-2">{{ x.DateMade }}</td>
						<td class="col-md-1">{{ x.FloorNumber }}</td>
	    				<td class="col-md-2">{{ x.BathroomID }}</td>
	    				<td class="col-md-1">{{ x.Rating }}</td>
	    				<td class="col-md-6">{{ x.Comment }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
