<h4>Test Page</h4>


<div class="col-sm-12">
	<div class="col-sm-5"></div>
	<div class="col-sm-2">
		<table class="table table-responsive table-hover" style="border:none;box-shadow:none;border-style:none;text-align:center;">
		    <tbody>
		        <tr>
		          	<th>Username</th>
		            <td style="text-align:center;border-style:none;border:none;">{{userdetailsdata[0].Username}}</td>
		        </tr>
		        <tr>
		          	<th>Email</th>
		            <td>{{userdetailsdata[0].EmailAddress}}</td>
		        </tr>
		     	<tr>
		        	<th>Real Name</th>
		        	<td>{{userdetailsdata[0].FirstName}} {{userdetailsdata[0].LastName}}</td>
		       </tr>
		       <tr>
		        	<th>Signup Date</th>
		        	<td>{{userdetailsdata[0].SignUpDate}}</td>
		       </tr>
		    </tbody>
		</table>
	</div>
	<div class="col-sm-5"></div>
</div>