<div class="text-center" style="text-align:center;display:block;">
	<img src="img/buildings/johnson.jpg" class="img-responsive" style="text-align:center;display:block;margin:auto;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);">
</div>

<div class="well" style="margin-top:2%;">
	<div class="container">
		<div class="row" style="">
			<div class="col-sm-12" style="margin-top:2%;">
				<h3 class="">Floor 1:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);"></div>
				<div ng-repeat="x in bathroomdata[0]"> 
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>
			
			<div class="col-sm-12" style="margin-top:4%;">
				<h3 class="">Floor 2:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);"></div>
				<div ng-repeat="x in bathroomdata[1]">
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>


<!-- ADD COMMENT / RATING -->	
			<comment-form></comment-form>


		</div>
	</div>
</div>