<div class="text-center" style="text-align:center;display:block;">
	<img src="img/buildings/linq.jpg" class="img-responsive" style="text-align:center;display:block;margin:auto;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);">
</div>

<div class="well" style="margin-top:2%;">
	<div class="container">
		<div class="row" style="">
			<div class="col-sm-12" style="margin-top:2%;">
				<h3 class="text-center">Floor 1:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);margin-bottom:1%;"></div>
				<div ng-repeat="x in bathroomdata[0]"> 
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>
			
			<div class="col-sm-12" style="margin-top:3%;">
				<h3 class="text-center">Floor 2:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);margin-bottom:1%;"></div>
				<div ng-repeat="x in bathroomdata[1]">
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:3%;">
				<h3 class="text-center">Floor 3:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);margin-bottom:1%;"></div>
				<div ng-repeat="x in bathroomdata[2]">
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>

			<div class="col-sm-12" style="margin-top:3%;">
				<h3 class="text-center">Floor 4:</h3>
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.3);"></div>
				<div ng-repeat="x in bathroomdata[3]">
					<table class="table table-responsive table-hover">
					    <thead>
							<tr>
								<th>User</th>
								<th>Date Made</th>
								<th>Bathroom ID</th>
								<th>Rating</th>
								<th>Comment</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td class="col-md-2">{{x.Username}}</td>
								<td class="col-md-2">{{x.DateMade}}</td>
								<td class="col-md-2">{{x.BathroomID}}</td>
								<td class="col-md-1">{{x.Rating}}</td>
								<td class="col-md-5">{{x.Comment}}</td>
							</tr>
					    </tbody>
					</table>
				</div>
			</div>




<!-- ADD COMMENT / RATING -->	
			<div class="col-sm-12" style="margin-top:6%;" ng-show="!isLoggedIn">
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.2);border-color:#DC4405;margin-bottom:0%;"></div>
				<h3 class=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Comment / Rating </h3>
				<div class="col-sm-12">
					<h4>Please Login or Register to add comments and ratings</h4>
				</div>
			</div>



			<div class="col-sm-12" style="margin-top:6%;" ng-show="isLoggedIn">
				<div class="col-sm-12" style="border:1px solid rgba(0,0,0,.2);border-color:#DC4405;margin-bottom:0%;"></div>
				<h3 class=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Comment / Rating </h3>
				<!-- <div class="col-sm-12" style="border:1px solid rgba(0,0,0,.2);border-color:#DC4405;margin-bottom:1%;"></div> -->
				<div class="col-sm-12">
					<div class="col-sm-3" style="margin-top:2%;">
						<div class="list-group">
						  <a href="" class="list-group-item" ng-repeat="x in dropdowndata" ng-click="getID(x[0])">{{x[0]}}</a>
						</div>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-6" style="margin-top:1%;">
						<div class="text-center">
							<jk-rating-stars rating="starrating" ></jk-rating-stars>
							<div>{{starrating}} Stars</div>
						</div>
						<span><form id="commentform">
							<div class="form-group">
								<label for="comment"><i class="fa fa-comments-o" aria-hidden="true"></i> Comment:</label>
								<textarea class="form-control" rows="5" id="comment" required ng-model='comment'></textarea>
							</div>
							<button type="submit" class="btn btn-default" ng-click="submitComment('linq','4',comment)">Submit Comment</button>
						</form></span>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>




			
		</div>
	</div>
</div>